/* styles.css */

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 15px;
}

.card-content h3 {
  margin: 0 0 10px;
}

.card-content p {
  margin: 0 0 15px;
}

.card-content h5 {
  margin: 0 0 10px;
}

.card-content ul {
  padding: 0;
  list-style: none;
  display: flex;
  margin: 0;
}

.card-content li {
  margin-right: 5px;
}

.checked {
  color: orange;
}

.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d9534f;
}
